@model TesteRecuperacao.Models.Tools

@{
    ViewData["Title"] = "Detalhes da Ferramenta";
}

<h1>Detalhes da Ferramenta</h1>

<div class="card mt-3">
    <div class="card-header">
        <h4 class="mb-0">@Model?.Name</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Nome</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-3">Quantidade</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-3">Categoria</dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Category)
            </dd>
        </dl>
    </div>
    <div class="card-footer text-end">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
    </div>
</div>