@{
    ViewData["Title"] = "Home - Gerenciamento de Estoque";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao InventoryManager</h1>
    <p>
        Organize e controle o estoque da sua oficina de forma eficiente.
    </p>
    
    <!-- Imagem -->
    <div class="mt-4">
        <img src="\Images\Stock.jpeg" alt="Imagem do Gerenciamento de Estoque" class="img-fluid" style="max-height: 300px;">
    </div>
    
    <!-- Botões -->
    <div class="mt-4">
        <a href="/Tools" class="btn btn-primary">Gerenciar Equipamentos</a>
        <a href="/Manage" class="btn btn-secondary">Gerenciar Retirada</a>
    </div>
</div>
